*,p,h6  {
   
    margin:0px;
    padding:0px;
}
.feed-back{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:80%;
    margin:auto;
    padding:40px;
}
.review{
    font-size: large;
    text-overflow: ellipsis;
    color: #383535;
}
.list-main{
    list-style:none;
    /* display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column; */
    line-height: .5;
   
   
}
.list-main .li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #222121;
}
.list-main .li > *{
    margin:0px 5px;
    text-transform: capitalize;
    font-size: small;
    color: #3a3737;
}
.list-main .li h6{
    color:rgb(58, 55, 55);
}
.slides{
    width:100%;
    height:100px;
    padding:40px;
    width:100%;
    display: inline-block;
    margin:0px auto;
    background-color: #756f6f; 
    
}
.testimonial-main{
    width:100%;
    padding:10px;
    height:100px;
    margin-bottom:100px;
    /* background-color: #7aa3e4;
    background-color: yellow; */
   
}
 .slider-inner{
   
    padding:40px;
    width:100%;
    
 }